* {box-sizing: border-box;}


.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 6;
  grid-row: 1;
}
.two {
  grid-column: 5;
  grid-row: 2 /5;
}
.three {
  grid-column: 1/6;
  grid-row: 5;
}
.four {
  grid-column: 1/2;
  grid-row: 2/5;
}
.five {
  grid-column: 2/5;
  grid-row: 2/3;
}
.six {
  grid-column: 4;
  grid-row: 3/5;
}
.seven {
  grid-column: 2/4;
  grid-row: 4;
}
.Eight {
  grid-column: 2;
  grid-row: 3/3;
}
.Nine {
  grid-column: 3;
  grid-row: 3/4;
}
